include "/home/catwizard/.cache/pal/niri-colors.kdl"
// ^ add in next release optional=true ^

spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "flatpak" "run" "com.github.wwmm.easyeffects" "--gapplication-service"
spawn-at-startup "swww-daemon"
spawn-at-startup "~/.config/niri/float.py"
spawn-at-startup "~/.config/niri/gsr-fix.sh"
spawn-at-startup "~/Documents/code/scripts/wallpapers.sh"
spawn-at-startup "nm-applet"
spawn-at-startup "xfce4-panel"
spawn-at-startup "steam" "-silent"

environment {
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    MOZ_DISABLE_RDD_SANDBOX "1"
    MOZ_ENABLE_WAYLAND "1"
    LIBVA_DRIVER_NAME "nvidia"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    NVD_BACKEND "direct"
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle,compose:ralt,ctrl:nocaps"
        }
		track-layout "window"
    }

    touchpad {
        off
        // dwt // disable when typing
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.0
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        off
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="10%"  
    mod-key "Super"
    // mod-key-nested ""
}

gestures {
    hot-corners {
        off
    }
    dnd-edge-view-scroll {
        trigger-width 500
        delay-ms 100
        max-speed 2000
    }
}

cursor {
    xcursor-size 24
    xcursor-theme "Marisa-Kirisame"
    hide-when-typing
    hide-after-inactive-ms 2000
}

clipboard {
    disable-primary
}

screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"
//screenshot-path null

output "DP-2" {
    mode "2560x1440@143.972"
    scale 1.0
    transform "normal"
    focus-at-startup
    position x=0 y=0
}

layout {
    gaps 5
    center-focused-column "never"
    always-center-single-column
    default-column-width { proportion 0.5; }
    // default-column-display "tabbed"
    background-color "transparent"

    tab-indicator {
        hide-when-single-tab
        place-within-column
        width 6
        length total-proportion=1.0
        gap 5
        gaps-between-tabs 5
        position "top"
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.666
    }

    focus-ring {
        width 2
    }

    border {
        off
    }

    shadow {
    	on
    	softness 30
    	spread 5
    	draw-behind-window true
    	color "#00000070"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

overview {
  zoom 0.45
}

prefer-no-csd

animations {
    // off
    slowdown 0.250

    window-open {
		duration-ms 150
	    curve "ease-out-expo"
    }

    window-close {
        duration-ms 1500
        curve "linear"

        custom-shader r"
            vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
                // For this shader, set animation curve to linear for best results.

                // Simulate an accelerated fall: square the (linear) progress.
                float progress = niri_clamped_progress * niri_clamped_progress;

                // Get our rotation pivot point coordinates at the bottom center of the window.
                vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;

                // Move the window down to simulate a fall.
                coords.y += progress * 200.0;

                // Randomize rotation direction and maximum angle.
                float random = (niri_random_seed - 0.5) / 2.0;
                random = sign(random) - random;
                float max_angle = 0.05 * random;

                // Rotate the window around our pivot point.
                float angle = progress * max_angle;
                mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
                coords = rotate * coords;

                // Transform the coordinates back.
                coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);

                // Sample the window texture.
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                // Multiply by alpha to fade out.
                return color * (1.0 - niri_clamped_progress);
            }
            vec4 close_color(vec3 coords_geo, vec3  size_geo) {
                // You can pick one of the example functions or write your own.
                return fall_and_rotate(coords_geo, size_geo);
            }"
    }

    screenshot-ui-open {
        duration-ms 200
		curve "ease-out-quad"
	}
}

recent-windows {
    debounce-ms 750
    open-delay-ms 250

    highlight {
        padding 30
        corner-radius 0
    }

    previews {
        max-height 269
        max-scale 0.35
    } 
}

// layer rules

layer-rule {
    match namespace="swww"
    place-within-backdrop true
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// general rules

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match is-floating=true
    draw-border-with-background false
}

window-rule {
	match is-window-cast-target=true
	focus-ring {
		active-color "#faff81"
		inactive-color "#ffc53a"	
	}

	border {
		off		
	}
	shadow {
		color "#ffc53a"
	}
	tab-indicator {
		active-color "#faff81"
		inactive-color "#ffc53a"
	}
	draw-border-with-background false
}

// application rules

window-rule {
    match app-id=r#"org.gnome.Nautilus"#
    match app-id=r#"nemo"#
    match app-id=r#"thunar"#	
    match app-id=r#"pavucontrol"#
    match app-id=r#"PortProton"#
    match app-id=r#"mousepad"#
    open-floating true
    open-maximized false
    open-fullscreen false
    default-column-width  { proportion 0.45;} 
    default-window-height { proportion 0.6; }
}

window-rule {
    match app-id=r#"mpv"#
    match app-id=r#"imv"#
    open-floating true
    open-maximized false
    open-fullscreen false
    default-column-width  { proportion 0.6;} 
    default-window-height { proportion 0.75; }
}

// apps i want 1.0
window-rule {
    match app-id="librewolf"
    match app-id="krita"
    match app-id="blender"
    match app-id="codium"
    match app-id="osu!"
    match app-id="magicavoxel.exe"
    match app-id="Godot"
    match app-id=r#"^steam_app_.*$"#
    open-maximized true
    default-column-width { proportion 1.0; }
}

// apps i want 0.3
window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    block-out-from "screencast"
    default-column-width { proportion 0.33333; }
}
window-rule {
    match app-id="finamp"
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id=r#"kitty"#
    default-column-display "tabbed"
}

window-rule {
    match app-id=r#"steam"# title="Sign in to Steam"
    match app-id=r#"org.gnome.FileRoller"# title="Extract"
    open-focused false
}

window-rule {
    match app-id=r#"dev.negrel.wooz"#
    focus-ring {
        off
    }
    open-floating true
    open-maximized true
}

// Rules to tile only main application window
window-rule {
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#
    open-floating true
}
window-rule {
    match app-id=r#"krita"#
    exclude title=r#"^Krita$"#
    open-floating true
    default-column-width  { proportion 0.5;} 
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"Godot"#
    exclude title=r#"^Godot.*$"#
    open-floating true
    default-column-width  { proportion 0.666; }
    default-window-height { fixed 1100; }
}

window-rule {
    match app-id=r"clipstudiopaint.exe"
    default-floating-position x=0 y=0 relative-to="bottom-left"
}
	
binds {
    Super+Space     { spawn "fuzzel"; }
    Mod+A           { spawn "nemo";}
    Mod+B           { spawn "librewolf"; }
    Mod+D           { spawn "kitty"; }
    Mod+Z           { spawn "woomer"; }
	Mod+Shift+B     { spawn "chromium"; }
    Mod+Shift+C     { spawn "~/.config/niri/niri_color_picker.sh";}
    Mod+Shift+L     { spawn "~/.config/niri/swaylock.sh"; }
    Mod+Shift+P     { power-off-monitors; }
    Mod+Alt+C       { spawn "~/.config/niri/wal-helper.sh"; } // wallpaper switcher
    Mod+Alt+Pause   { spawn "pactl" "set-source-mute" "@DEFAULT_SOURCE@" "toggle"; }
    // saving a replay in gsr
    Mod+Insert      {spawn "pkill" "-SIGUSR1" "-f" "gpu-screen-recorder";}

    Print           { screenshot show-pointer=true; }
    Ctrl+Print      { screenshot-screen show-pointer=true; }
    Alt+Print       { set-dynamic-cast-window; }
    Ctrl+Alt+Print  { clear-dynamic-cast-target; }

    Mod+C           { center-column; }
    Mod+F           { maximize-column; }
    Mod+R           { switch-preset-column-width; }
    Mod+W           { toggle-column-tabbed-display; }
    Mod+Shift+F     { fullscreen-window; }
    Mod+Alt+F       { toggle-windowed-fullscreen; }

    Mod+V           { toggle-window-floating; }
    Mod+Shift+V     { switch-focus-between-floating-and-tiling; }

    Mod+Q           { close-window; }
    // Mod+MouseRight  { close-window; }
    Mod+Shift+E     { quit; }
    Ctrl+Alt+Delete { quit; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Left        { focus-column-left; }
    Mod+Down        { focus-window-down; }
    Mod+Up          { focus-window-up; }
    Mod+Right       { focus-column-right; }
    Mod+H           { focus-column-left; }
    Mod+J           { focus-window-down; }
    Mod+K           { focus-window-up; }
    Mod+L           { focus-column-right; }
	// Mod+WheelScrollDown { focus-column-right; }
	// Mod+WheelScrollUp { focus-column-left;}

    Mod+Ctrl+Left   { move-column-left; }
    Mod+Ctrl+Down   { move-window-down; }
    Mod+Ctrl+Up     { move-window-up; }
    Mod+Ctrl+Right  { move-column-right; }
    Mod+Ctrl+H      { move-column-left; }
    Mod+Ctrl+J      { move-window-down; }
    Mod+Ctrl+K      { move-window-up; }
    Mod+Ctrl+L      { move-column-right; }

    Mod+Shift+Left  { consume-or-expel-window-left; }
    Mod+Shift+Right { consume-or-expel-window-right; }
    
    Mod+Comma       { consume-window-into-column; } // Consume one window from the right to the bottom of the focused column.
    Mod+Period      { expel-window-from-column; } // Expel the bottom window from the focused column to the right.

    Mod+Home        { focus-column-first; }
    Mod+End         { focus-column-last; }
    Mod+Ctrl+Home   { move-column-to-first; }
    Mod+Ctrl+End    { move-column-to-last; }

    Mod+Page_Down   { focus-workspace-down; }
    Mod+Page_Up     { focus-workspace-up; }
    Mod+U           { focus-workspace-down; }
    Mod+I           { focus-workspace-up; }
    Mod+Ctrl+Page_Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up    { move-column-to-workspace-up; }
    Mod+Ctrl+U          { move-column-to-workspace-down; }
    Mod+Ctrl+I          { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }
    
    Mod+1      { focus-workspace 1; }
    Mod+2      { focus-workspace 2; }
    Mod+3      { focus-workspace 3; }
    Mod+4      { focus-workspace 4; }
    Mod+5      { focus-workspace 5; }
    Mod+6      { focus-workspace 6; }
    Mod+7      { focus-workspace 7; }
    Mod+8      { focus-workspace 8; }
    Mod+9      { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Mod+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }
    // Mod+Shift+Left { focus-monitor-left; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Ctrl+Shift+Left { move-column-to-monitor-left; }
    // Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
    // Finer height adjustments when in column with other windows.
    // Mod+Ctrl+Shift+Up { set-window-height "-10%"; }
    // Mod+Ctrl+Shift+Down { set-window-height "+10%"; }    
}

debug {
    // ignore-drm-device "/dev/dri/renderD128"
}

hotkey-overlay {
	skip-at-startup
}