include "binds_qwerty.kdl"
// include "binds_colemak_dh.kdl"
include optional=true "colors.kdl"

spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "flatpak" "run" "com.github.wwmm.easyeffects" "--gapplication-service"
spawn-at-startup "awww-daemon"
// spawn-at-startup "waybar"
// spawn-at-startup "mako"
spawn-at-startup "~/.config/niri/float.py"
// spawn-at-startup "~/.config/niri/gsr-fix.sh"
spawn-at-startup "~/Documents/code/lua/colors.lua"
spawn-at-startup "nm-applet"
spawn-at-startup "xfce4-panel"
spawn-at-startup "steam" "-silent"
spawn-at-startup "quickshell"
spawn-at-startup "pipx" "run" "~/.config/niri/mpd_jelly_sync.py"
spawn-at-startup "obs" "--startreplaybuffer"

environment {
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    MOZ_DISABLE_RDD_SANDBOX "1"
    MOZ_ENABLE_WAYLAND "1"
    LIBVA_DRIVER_NAME "nvidia"
    __NV_PRIME_RENDER_OFFLOAD "1"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    NVD_BACKEND "direct"
    TERMINAL "alacritty"
    // PIPEWIRE_LATENCY "1024/48000"
    // http_proxy "127.0.0.1:7897"
    // HTTP_PROXY "127.0.0.1:7897"
    _microarchitecture "99"
}

input {
    keyboard {
        xkb {
            // variant "colemak_dh_ortho"
            layout "us,ru"
            options "grp:alt_shift_toggle,compose:ralt,ctrl:nocaps"
        }
		track-layout "window"
    }

    touchpad {
        off
        // dwt // disable when typing
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.0
        accel-profile "flat"
        scroll-factor 1.0
        // scroll-method "no-scroll"
    }

    trackpoint {
        off
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="10%"
    mod-key "Super"
    // mod-key-nested ""
}

gestures {
    hot-corners {
        off
    }
    dnd-edge-view-scroll {
        trigger-width 150
        delay-ms 100
        max-speed 2000
    }
}

cursor {
    xcursor-size 24
    xcursor-theme "Marisa-Kirisame"
    hide-when-typing
    hide-after-inactive-ms 2000
}

screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"
//screenshot-path null

output "DP-2" {
    mode "2560x1440@143.972"
    // mode "2560x1440@60.0"
    scale 1.0
    transform "normal"
    focus-at-startup
    position x=0 y=0
}

layout {
    gaps 5
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-width { proportion 0.5; }
    // default-column-display "tabbed"
    background-color "transparent"

    tab-indicator {
        hide-when-single-tab
        place-within-column
        width 6
        length total-proportion=1.0
        gap 5
        gaps-between-tabs 5
        position "top"
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.666
    }

    focus-ring {
        width 2
    }

    border {
        off
    }

    shadow {
    	on
    	softness 30
    	spread 5
    	draw-behind-window true
    	color "#00000070"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

overview {
  zoom 0.45
}

prefer-no-csd

animations {
    off
    slowdown 0.250

    window-open {
		spring damping-ratio=1.0 stiffness=500 epsilon=0.0001
    }

    window-close {
        duration-ms 1500
        curve "linear"

        custom-shader r"
            vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
                // For this shader, set animation curve to linear for best results.

                // Simulate an accelerated fall: square the (linear) progress.
                float progress = niri_clamped_progress * niri_clamped_progress;

                // Get our rotation pivot point coordinates at the bottom center of the window.
                vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;

                // Move the window down to simulate a fall.
                coords.y += progress * 200.0;

                // Randomize rotation direction and maximum angle.
                float random = (niri_random_seed - 0.5) / 2.0;
                random = sign(random) - random;
                float max_angle = 0.05 * random;

                // Rotate the window around our pivot point.
                float angle = progress * max_angle;
                mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
                coords = rotate * coords;

                // Transform the coordinates back.
                coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);

                // Sample the window texture.
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                // Multiply by alpha to fade out.
                return color * (1.0 - niri_clamped_progress);
            }
            vec4 close_color(vec3 coords_geo, vec3  size_geo) {
                // You can pick one of the example functions or write your own.
                return fall_and_rotate(coords_geo, size_geo);
            }"
    }

    screenshot-ui-open {
        duration-ms 200
		curve "ease-out-quad"
	}
}

recent-windows {
    debounce-ms 750
    open-delay-ms 250

    highlight {
        padding 30
        corner-radius 0
    }

    previews {
        max-height 269
        max-scale 0.35
    }
}

// layer rules

layer-rule {
    match namespace="awww"
    place-within-backdrop true
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// general rules

blur {
    // off
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

layer-rule {
    match namespace="^launcher$"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="Alacritty"
    background-effect {
        blur true
        xray true
    }
}

window-rule {
    draw-border-with-background false
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match is-floating=true
    draw-border-with-background false
}

window-rule {
	match is-window-cast-target=true
	focus-ring {
		active-color "#faff81"
		inactive-color "#ffc53a"
	}

	border {
		off
	}
	shadow {
		color "#ffc53a"
	}
	tab-indicator {
		active-color "#faff81"
		inactive-color "#ffc53a"
	}
	draw-border-with-background false
}

// application rules

window-rule {
    match app-id=r#"org.gnome.Nautilus"#
    match app-id=r#"nemo"#
    match app-id=r#"thunar"#
    match app-id=r#"pavucontrol"#
    match app-id=r#"PortProton"#
    match app-id=r#"mousepad"#
    open-floating true
    open-maximized false
    open-fullscreen false
    default-column-width  { proportion 0.45;}
    default-window-height { proportion 0.6; }
}

window-rule {
    match app-id=r#"mpv"#
    match app-id=r#"imv"#
    open-floating true
    open-maximized false
    open-fullscreen false
    default-column-width  { proportion 0.6;}
    default-window-height { proportion 0.75; }
}

// apps i want 1.0
window-rule {
    match app-id="librewolf"
    match app-id="krita"
    match app-id="blender"
    match app-id="codium"
    match app-id="osu!"
    match app-id="magicavoxel.exe"
    match app-id="Godot"
    match app-id=r#"^steam_app_.*$"#
    open-maximized true
    default-column-width { proportion 1.0; }
}

// apps i want 0.3
window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    block-out-from "screencast"
    default-column-width { proportion 0.33333; }
}
window-rule {
    match app-id="finamp"
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id=r#"org.keepassxc.KeePassXC"#
    block-out-from "screencast"
}

window-rule {
    match app-id="alacritty"
    match app-id=r#"kitty"#
    match app-id="Discord"
    default-column-display "tabbed"
}

window-rule {
    match app-id="steam" title="Sign in to Steam"
    match app-id=r#"org.gnome.FileRoller"# title="Extract"
    open-focused false
}

window-rule {
    match app-id=r#"dev.negrel.wooz"#
    focus-ring {
        off
    }
    open-floating true
    open-maximized true
}

// Rules to tile only main application window
window-rule {
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#
    open-floating true
}
window-rule {
    match app-id=r#"krita"#
    exclude title=r#"^Krita$"#
    open-floating true
    default-column-width  { proportion 0.5;}
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"Godot"#
    exclude title=r#"^Godot.*$"#
    open-floating true
    default-column-width  { proportion 0.666; }
    default-window-height { fixed 1100; }
}

window-rule {
    match app-id=r"clipstudiopaint.exe"
    default-floating-position x=0 y=0 relative-to="bottom-left"
}

debug {
    ignore-drm-device "/dev/dri/renderD128"
    render-drm-device "/dev/dri/renderD129"
    // render-drm-device "/dev/dri/renderD130"
}

hotkey-overlay {
	skip-at-startup
}
