@import url('../../.cache/wal/colors-waybar.css');

@define-color bg @background;
@define-color fg @foreground;
@define-color active @color4;
@define-color hover @color5;
@define-color border_main rgba(0,0,0,0);
@define-color inactive rgba(255, 255, 255, 0.3);

@define-color c0 @color0;
@define-color c1 @color1;
@define-color c2 @color2;
@define-color c3 @color3;
@define-color c4 @color4;
@define-color c5 @color5;
@define-color c6 @color6;
@define-color c7 @color7;
@define-color c8 @color8;

* {
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	font-family: "Maple Mono NF", "Noto Sans Mono CJK JP", "Noto Sans Mono CJK KR", "Noto Sans Mono CJK HK", "Noto Sans Mono CJK TC";
	font-weight: 600;
}

window#waybar {
	background: black;
	background-size: cover;
	color: @fg;
}

bg { 
	font-size: 18px;
	background: @bg;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: @border_main;
}

#custom-os_button {
	font-size: 24px;
	padding: 0 10px 0 10px;
	transition: all 0.15s ease-out;
}

#custom-os_button:hover {
	background: @hover;
	color: @c0;
}

#custom-arrow-left {
	font-size: 18px;
}

#custom-arrow-right {
	font-size: 18px;
}

#mpris {
	color: @fg;
	font-size: 18px;
}

#mpris.paused {
	color: @inactive;
}

#custom-updates {
	font-size: 18px;
	margin: 0 5px 0 5px;;
}

#workspaces button {
	font-size: 18px;
	opacity: 1;
	padding: 0 15px 0 10px;
	color: @inactive;
	transition: all 0.08s ease-out;
}

#workspaces button.active {
	color: @c0;
	background: @active;
}

#workspaces button:hover {
	background: @hover;
	color: white;
}

#workspaces button.focused {
	color: @c0;
}

#workspaces button.focused:hover {
	color: white;
}

#workspaces button.urgent {
	background: @c2;
	color: @warning_color;
}

#taskbar {
	font-size: 0px;
	color: @fg;
}

#taskbar button {
	min-width: 10px;
	padding: 0 10px 0 10px;
	transition: none;
	color: @fg;
}

#taskbar button:nth-child(even) {
	min-width: 10px;
	padding: 0 10px 0 10px;
	transition: none;
	border-bottom: 4px solid @c5;
	color: @fg;
}

#taskbar button.active {
	font-size: 18px;
	background: @c1;
	color: @c0;
}

#taskbar button:hover {
	background: @c4;
	color: white;
}

#cpu, #disk, #memory, #network {
	font-size: 18px;
	padding: 0 5px 0 5px;

}

#temperature {
	font-size: 18px;
	color: transparent;
	font-size: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
	padding-right: 3px;
	color: @warning_color;
	font-size: initial;
	border-bottom: 3px dashed @warning_color;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

#tray{
	margin: 0 -5px 0 5px;
	padding: 0 10px 0 10px;
}
#tray > .passive {
	border-bottom: none;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	font-size: 18px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @active;
}

#pulseaudio {
	font-size: 18px;
	margin: 0 5px 0 5px;
	padding: 0 10px 0 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio.input {
	font-size: 18px;
	margin: 0 5px 0 5px;
	padding: 0 10px 0 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio:hover {
 	background: @c4;
}

#language {
	font-size: 18px;
	padding: 0 10px 0 10px;
	margin: 0 5px 0 5px;
}

#clock {
	font-size: 18px;
	padding: 0 10px 0 10px;
	margin: 0 5px 0 5px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#clock:hover {
	background: @active;
}