@import url('../../.cache/wal/colors-waybar.css');

@define-color bg_main @background;
@define-color bg_main_tooltip @background;
@define-color bg_hover @color4;
@define-color bg_active @color5;
@define-color border_main rgba(0,0,0,0);
@define-color content_main @foreground;
@define-color content_inactive rgba(255, 255, 255, 0.3);

* {
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	font-family: "Maple Mono NF";
	font-weight: 600;
}

window#waybar {
	background: @bg_main;
	color: @content_main;
}

tooltip {
	font-size: 18px;
	color: @content_main;
	background: @bg_main_tooltip;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: @border_main;
}

#custom-os_button {
	font-size: 24px;
	padding-left: 12px;
	padding-right: 12px;
	transition: all 0.25s ease-out;
}

#custom-os_button:hover {
	background: @bg_hover;
	color: white;
}

#workspaces button {
	font-size: 18px;
	padding-left: 16px;
	padding-right: 20px;
	color: @content_inactive;
	transition: all 0.08s ease-out;
}

#workspaces button.active {
	color: @content_main;
}

#workspaces button.focused {
	color: @content_main;
}

#workspaces button.urgent {
	background: rgba(255, 200, 0, 0.35);
	color: @warning_color;
}

#workspaces button:hover {
	background: @bg_hover;
	color: white;
}

#taskbar {
	font-size: 0px;
	color: @content_main;
}

#taskbar button {
	min-width: 10px;
	border-bottom: 3px solid @content_inactive;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 8px;
	padding-right: 9px;
	transition: all 0.08s ease-in-out;
	color: @content_main;
}

#taskbar button.active {
	font-size: 18px;
	border-bottom: 3px solid white;
	background: @bg_active;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
	background: @bg_hover;
	color: white;
}

#cpu, #disk, #memory, #network {
	font-size: 18px;
	padding: 3px;
	padding-left: 7px;
	margin-right: 2px;
}

#temperature {
	font-size: 18px;
	color: transparent;
	font-size: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
	padding-right: 3px;
	color: @warning_color;
	font-size: initial;
	border-bottom: 3px dashed @warning_color;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray{
  margin-left: 10px;
  margin-right: 10px;
}
#tray > .passive {
	border-bottom: none;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @bg_hover;
}

#pulseaudio {
	font-size: 18px;
	padding-left: 7px;
	padding-right: 3px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#pulseaudio:hover {
 	background: @bg_hover;
}

#language {
	font-size: 18px;
	padding-left: 7px;
	padding-right: 5px;
	margin-right: 2px;
}

#clock {
	font-size: 18px;
	padding-right: 7px;
	padding-left: 5px;
	margin-right: 2px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#clock:hover {
	background: @bg_hover;
}
#custom-ScrollMPRIS {
	font-size: 18px;
}
