`@output /home/catwizard/.config/niri/colors.kdl`
layout {
    focus-ring {
        inactive-color "#`@background`"
        active-color "#`@foreground`"
    }
}

recent-windows {
    highlight {
        active-color "#`@color3`"
        urgent-color "#`@color1`"
    }
}
